<div class="animated fadeIn">
	<div class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12 home">
					<!-- Screen View -->
					<div class="screen">
						<div class="col-md-4">
							<div ui-sref="About" class="nav-menu green">
								<i class="menuItem fa fa-user fa-2x"></i> <h1>About</h1>
							</div>
							<div ui-sref="Contact" class="nav-menu orange">
								<i class="menuItem fa fa-paper-plane fa-2x"></i><h1>Contact</h1>
							</div>
						</div>
						<div class="col-md-4">
							<div align="center" ui-sref="Home" class="head-menu red">
								<img src="http://res.cloudinary.com/halhassen/image/upload/c_scale,w_350,h_240/v1475958602/head_website_u83uia.png" />
							</div>
							<div class="social-menu teal">
								<a class="spacing menuItem fa fa-twitter on fa-square-o fa-2x" href="https://twitter.com/HamadZal"></a>
								<a class="spacing menuItem fa fa-linkedin fa-2x" href="https://www.linkedin.com/in/hamadalhassen
								"></a>
								<a href="https://github.com/halhassen" class="menuItem fa fa-github-square fa-2x"></a>
								<h1>Social Media</h1>
							</div>
						</div>
						<div class="col-md-4">
							<div ui-sref="Portfolio" class="nav-menu blue">
								<i class="menuItem fa fa-object-group fa-2x"></i> <h1>Portfolio</h1>
							</div>
							<div ui-sref="Skills" class="nav-menu purple">
								<i class="menuItem fa fa-file-code-o fa-2x"></i><h1>Skills</h1>
							</div>
						</div>
					</div>

					<!-- Mobile View --> 
					<div class="mobile">
						<div class="col-xs-4">
							<div ui-sref="About" class="nav-menuMobile green">
								<i class="menuItem fa fa-user fa-2x"></i> <h1>About</h1>
							</div>
							<div ui-sref="Contact" class="nav-menuMobile orange">
								<i class="menuItem fa fa-paper-plane fa-2x"></i><h1>Contact</h1>
							</div>
						</div>
						<div class="col-xs-4">	
							<div ui-sref="Home" class="nav-menuMobile">
								<img src="http://res.cloudinary.com/halhassen/image/upload/c_scale,h_90,w_90/v1447724443/me_copy_mkweim.jpg" class="img" />
							</div>
							<div class="nav-menuMobile teal">
								<a class="spacing menuItem fa fa-twitter on fa-square-o" href="https://twitter.com/HamadZal"></a>
								<a class="spacing menuItem fa fa-linkedin" href="https://www.linkedin.com/in/hamadalhassen
								"></a>
								<a href="https://github.com/halhassen" class="menuItem fa fa-github-square"></a>
								<h1 style="margin-top: 32px;">Social Media</h1>
							</div>
						</div>
						<div class="col-xs-4">
							<div ui-sref="Portfolio" class="nav-menuMobile blue">
								<i class="menuItem fa fa-object-group fa-2x"></i> <h1>Portfolio</h1>
							</div>
							<div ui-sref="Skills" class="nav-menuMobile purple">
								<i class="menuItem fa fa-file-code-o fa-2x"></i><h1>Skills</h1>
							</div>
						</div>
					</div>
					<!-- <div class="col-xs-offset-5">
						<div ui-sref="Home" class="nav-menuMobile">
							<img src="http://res.cloudinary.com/halhassen/image/upload/c_scale,w_190/v1447724443/me_copy_mkweim.jpg" class="img" />
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>