<div class="animated slideInRight">
	<div class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2">
					<div class="skillsBox col-md-12">
						<div class="col-md-6">
							<legend><h2>Coding Skills</h2></legend>

							<div ng-repeat="skills in vm.codingSkills">
								<div class="progressBar">
									<div class="progressBarContainer">
										<div class="progressBarValue value-{{skills.level}}">
											<h5 class="text-center">{{skills.name}}</h5>
										</div>
									</div>
								</div>
							</div>


							<legend><h2>Programs</h2></legend>
							<div ng-repeat="skills in vm.programs">
								<div class="progressBar">
									<div class="progressBarContainer">
										<div class="progressBarValue value-{{skills.level}}">
											<h5>{{skills.name}}</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<legend><h2>Other Skills</h2></legend>
							<div ng-repeat="skills in vm.otherSkills">
								<div class="progressBar">
									<div class="progressBarContainer">
										<div class="progressBarValue value-{{skills.level}}">
											<h5>{{skills.name}}</h5>
										</div>
									</div>
								</div>
							</div>
							<legend><h2>Passions</h2></legend>
							<div ng-repeat="skills in vm.passions">
								<div class="progressBar">
									<div class="progressBarContainer">
										<div class="progressBarValue value-{{skills.level}}">
											<h5>{{skills.name}}</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
